<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">ngDirective</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-if">ngIf</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-switch">ngSwitch</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-style">ngStyle</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-class">ngClass</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-for">ngFor</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ng-form">ngForm</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form-builder">FormBuilder</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/form-validator-ex">FormValidator1</a>
      </div>
    </div>
  </div>
</nav>
