<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Angular</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/directives">Directive</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/reactive-forms">ReactiveForms</a>
      </div>
    </div>
  </div>
</nav>
