<div class="container">
    <nav class="nav mb-5">
      <a class="nav-link" routerLinkActive="active" routerLink="/directives/ng-if">ngIf</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/directives/ng-switch">ngSwitch</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/directives/ng-style">ngStyle</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/directives/ng-class">ngClass</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/directives/ng-for">ngFor</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
