<h4>2. *ngSwitch</h4>

<div class="bg-light my-4">
  <span [ngSwitch]="myVar">
    <p *ngSwitchCase="'A'">
      This is A
    </p>
    <p *ngSwitchCase="'B'">
      This is B
    </p>
    <p *ngSwitchCase="'C'">
      This is C
    </p>
    <p *ngSwitchDefault>
      This is something else
    </p>
  </span>
</div>

<div class="my-4">
  <form>
    <div class="form-group">
      <label for="inputMyVal">myVar</label>
      <input type="text" [(ngModel)]="myVar" class="form-control" id="inputMyVal" placeholder="Enter value" name="myVar">
    </div>
  </form>
</div>

<div class="bg-light my-4">
  <pre><code>{{ text }}</code></pre>
</div>
