<div class="container">
  <nav class="nav mb-5">
    <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms/getting-started">Getting started</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms/managing-control-values">Managing control values</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms/grouping-form-controls">Grouping form controls</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms/creating-nested-form-groups">Creating nested form groups</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms/generating-form-controls-with-formbuilder">FormBuilder</a>
  </nav>
  <router-outlet></router-outlet>
</div>
