<h3>NgForm</h3>

<div class="my-4 p-3 border">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="nicknameInput">Nickname</label>
      <input type="text" class="form-control" id="nicknameInput" placeholder="Enter nickname" name="nickname" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="bg-light my-4">
  <pre><code>{{ example1 }}</code></pre>
</div>

<div class="my-4 p-3 border">
  <form #f2="ngForm" (ngSubmit)="onSubmit(f2.value)">
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter email" name="username" ngModel>
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  